.intro-section {
  padding: 50px 0;
  text-align: center;
}

.welcome-title {
  font-size: 36px;
  font-weight: bold;
}

.intro-text {
  font-size: 18px;
  color: #333;
}

.visit-count {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #007bff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home-container {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  max-width: 1200px;
}

.hero-section {
  text-align: center;
  padding: 100px 20px;
  background-image: url('https://images.unsplash.com/photo-1583364481915-dacea3e06d18?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  background-position: center;
  color: white;
}

.hero-title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.hero-description {
  font-size: 1.2rem;
  margin-bottom: 40px;
}

.hero-button {
  padding: 10px 30px;
  font-size: 1.1rem;
  background-color: #ff6347;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.hero-button:hover {
  background-color: #ff4500;
}


.skills-section {
  text-align: center;
  padding: 50px 20px;
}

.skills-title {
  font-size: 2rem;
  margin-bottom: 40px;
}

.skills-grid {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.skill-item {
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.skill-item img {
  width: 100px;
  height: 100px;
}

.skill-item:hover {
  transform: translateY(-10px);
}

.footer-section {
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: white;
  margin-top: 50px;
}

.footer-text {
  font-size: 1rem;
}
body {
  opacity: 0.9;
  background-image: url('https://images.unsplash.com/photo-1531297484001-80022131f5a1?q=80&w=1420&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #333; 
  font-family: 'Arial', sans-serif; 
}
.service-item {
  display: flex;
  justify-content: flex-end; 
  align-items: center;
  padding: 20px;
  margin-bottom: 20px;
}

.service-item img {
  width: 40%;
  margin-left: 20px; 
}

.service-item p {
  font-weight: bolder;
  font-size: 1.2rem;
  margin: 0;
}

